# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
my_env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Large data
data/
figures/
outputs/

# NetCDF
*.nc

# NumPy
*.npy
*.npz

# Misc
*.tmp
# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
my_env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

#Data Creation Packages

**/atmos/
**/stickiness/

# Large data
data/
figures/
outputs/

# NetCDF
*.nc

# NumPy
*.npy
*.npz

# Misc
*.tmp
